<div class="center hero-unit">
  <h1>Do you feel like going on an adventure?</h1>

  <h2>
   Dime a dozen what what!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
